.tableaupanier
{
	border-style:solid;
	border-width:1px;
	border-color:#bebebe;
	font-family:tahoma, verdana, arial, sans-serif;
	font-size:12px;
	font-weight:normal;
	margin-left:10px;
	text-align: center;
}

.entetepanierdynamique
{
	border-style:none;
	border-width:0px;
	font-family:tahoma, verdana, arial, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-left:10px;
	text-align: left;
}

.tableautotalpanier
{
	border-style:solid;
	border-width:1px;
	border-color:#bebebe;
	font-family:tahoma, verdana, arial, sans-serif;
	font-size:12px;
	font-weight:normal;
	margin-left:10px;
	text-align: center;
	position: relative;
	left: -19px;
	top: -1px;
}

.tableautotalcommande
{
	border-style:solid;
	border-width:1px;
	border-color:#bebebe;
	font-family:tahoma, verdana, arial, sans-serif;
	font-size:12px;
	font-weight:normal;
	margin-left:10px;
	text-align: center;
	position: relative;
	left: -24px;
	top: -1px;
}

.recapitulatifcommande
{
	border-style:none;
	font-family:tahoma, verdana, arial, sans-serif;
	color: black;
	font-size:12px;
	font-weight:normal;
	margin-left:10px;
	text-align: left;
}

.tableautotalpanierie
{
	border-style:solid;
	border-width:1px;
	border-color:#bebebe;
	font-family:tahoma, verdana, arial, sans-serif;
	font-size:12px;
	font-weight:normal;
	margin-left:10px;
	text-align: center;
	position: relative;
	left: -18px;
	top: -1px;
}

.entetepanier
{
	background-color:#bbbbbb;
	color:#000;
	font-family:tahoma, verdana, arial, sans-serif;
	font-size:11px;
	font-weight:bold;
}

.ligne1panier
{
	color:#000;
	background-color:#F5F5F5;
}

.ligne1panierover
{
	color: #FFFFFF;
	background-color:#63B6F6;
}

.ligne1panierover a
{
	color: #FFFFFF;
	background-color:#63B6F6;
	text-decoration:none;
	border: 0;
}

.ligne1panierover img
{
	text-decoration:none;
	border: 0;
}

.ligne1panier a
{
	color:#000;
	text-decoration:none;
	border: 0;
}

.ligne1panier a:hover
{
	color:#FFFFFF;
	text-decoration:none;
	border: 0;
}

.ligne1panier img
{
	text-decoration:none;
	border: 0;
}

.ligne2panier
{
	color:#000;
	background-color:#e5e4e4;
}

.ligne2panier a
{
	color:#000;
	text-decoration:none;
	border: 0;
}

.ligne2panier a:hover
{
	color:#FFFFFF;
	text-decoration:none;
	border: 0;
}

.ligne2panier img
{
	text-decoration:none;
	border: 0;
}


.ligne2panierover
{
	color:white;
	background-color:#63B6F6;
}

.ligne2panierover a
{
	color:white;
	background-color:#63B6F6;
	text-decoration:none;
	border: 0;
}

.ligne2panierover img
{
	text-decoration:none;
	border: 0;
}

.total_panier
{
	color:#000000;
	font-family:tahoma, verdana, arial, sans-serif;
	font-size:11px;
	font-weight:bold;
	background-color:#bbbbbb;
}

.soustotal_panier
{
	color:#000000;
	font-family:tahoma, verdana, arial, sans-serif;
	font-size:11px;
	font-weight:bold;
	background-color:#e5e4e4;
}

.paginationpanier
{
	font-family:tahoma, verdana, arial, sans-serif;
	color:#000;
	font-size:11px;
	font-weight:bold;
	border-style:none;
	background-color:#EAEAEA;
	vertical-align: middle;
	margin-left: 10px;
	padding-left: 2px;
	padding-right: 2px;
	width: 720px;
	height: 20px;
}

.paginationpanier select
{
	font-family:tahoma, verdana, arial, sans-serif;
	font-size:11px;
	font-weight: normal;
	color:#686667;
	border:1px solid;
	border-top-color:#6f6e6e;
	border-left-color:#6f6e6e;
	border-right-color:#6f6e6e;
	border-bottom-color:#6f6e6e;
}

.paginationpanier img
{
	border: 0;
	text-decoration: none;
	color: white;
	vertical-align: middle;
}

.informationcommande
{
	border-style:solid;
	border-width:1px;
	border-color:#bebebe;
	font-family:tahoma, verdana, arial, sans-serif;
	font-size:12px;
	font-weight:normal;
	margin-left:10px;
	text-align: center;
	position: relative;
	top: 130px;
	width: 700px;
	left: 20px;
}

.informationcommande a
{
	font-family:tahoma, verdana, arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-decoration: none;
	color: black;
}